<div id="navbar-main">
  <!-- Fixed navbar -->
  <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="icon icon-shield" style="font-size:30px; color:#083e63;"></span>
              </button>
              <a class="navbar-brand hidden-xs hidden-sm" href="#home">
                  <span class="icon icon-shield" style="font-size:18px; color:#3498db;"></span>
                  <!-- <img src="assets/images/logo.png"> -->
              </a>
          </div>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li> <a *ngIf="!authentication.isLoggedIn" routerLink="/login" id="login">Login</a> </li>
                  <li> <a *ngIf="!authentication.isLoggedIn" routerLink="/register" id="register">Register</a> </li>

                  <li *ngIf="authentication.isLoggedIn"> <a routerLink="/trips" id="trips">Trips</a> </li>
                  <li *ngIf="authentication.isLoggedIn"> <a routerLink="/plan" id="trips">Next Month Plan</a> </li>
                  <li *ngIf="authentication.isManager"> <a routerLink="/users" id="users">Users</a> </li>
                  <li *ngIf="authentication.isAdmin"> <a routerLink="/alltrips" id="alltrips">All Trips</a> </li>
                  <li *ngIf="authentication.isAdmin"> <a routerLink="/invite" id="invite">Invite New Users</a> </li>
              </ul>
              <ul class="nav navbar-nav navbar-right" *ngIf='authentication.isLoggedIn'>
                    <li><app-profile-picture [imageWidth]="50"></app-profile-picture></li>
                    <li><a routerLink="/profile" >Welcome {{ authentication.email }}</a></li>
                    <li> <a (click)="authentication.logout()" href="javascript:void(0);">Logout</a> </li>
                </ul>
          </div>
      </div>
  </div>

</div>
<br/><br/>
<br/><br/>
<router-outlet></router-outlet>